@import "tailwindcss";

/* Réglages de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px; /* Légèrement plus petit, plus dense sans être serré */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at 0% 0%, #ffe8c7 0, transparent 55%),
    radial-gradient(circle at 100% 0%, #e5e7ff 0, transparent 55%),
    linear-gradient(135deg, #fef7ee 0%, #f5e8d3 100%);
  color: #111827;
}

/* Liens */
a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}
/* Masquer la scrollbar sur toute l'app */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
